$color__background-body: #1f2833;
$color__colorbackground-header:#45A29E;
$color__colorbackground-barre: #0b0c10;
$color__colorbackground-main: #1f2833;
$color__colorbackground-footer:#66fcf1;




$color__link: #00f;
$color__link-visited: rgb(91, 91, 185);
$color__link-hover:#666;
$background__link-hover: black;